<ul id="messages"></ul>
<form action="">
    <div id="setUserInput"><input id="setUsernameTxt" placeholder="Enter your chat name" /><button id="btnSetUsername">Enter Chat</button></div>
    <div id="sendMessageInput" style="display: none;"><input id="m" autocomplete="off" /><button id="btnSendMessage">Send</button></div>
</form>
<script src="http://localhost:3050/socket.io/socket.io.js"></script> <!-- TODO get src from config-->
<script>
    $(() => {
        var socket = io.connect('http://localhost:3050/'); // TODO getserver from config
        $('#btnSetUsername').on('click', (e)=>{
            e.preventDefault(); // prevents page reloading
            socket.emit('set username', $('#setUsernameTxt').val());
        });
        $('#btnSendMessage').on('click', (e)=>{
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        var user;
        socket.on('userExists', (username) => {
            $('#messages').append($('<li>').text(username));
        });
        socket.on('userSet', (data) => {
            user = data.username;
            $('#messages').append($('<li>').text(user + ' is set as your username'));;
            $('#setUserInput').remove();
            $('#sendMessageInput').css('display', 'block');
            $('#m').focus();
        });                        
        socket.on('chat message', (data)=>{
            $('#messages').append(
                $('<li>').html(`<b>${data.stamp}</b> ${data.message}`)
            );
        });
    });
</script> 