
    <div class="row"><span class="col-12">©2019 Update24x7, inc</span></div>
    <!-- <span class="hidden-md"> ♦ </span> -->
    <div class="row"><span class="col-12">Weather provided by openweathermap.org</span></div>
    <!-- <span class="hidden-md"> ♦ </span> -->
    <div class="row"><span class="col-12">Customer service (800)555-5555</span></div>
