<div class="container">
    <div class="pageHeader row">
        <div class="headerItem">
            <img src="assets/images/newsLogo.jpg">
        </div>
        <div class="headerItem">
            <a href="/">Home</a>
        </div>
        <div class="headerItem">
            <a href="/sports">Sports</a>
        </div>
        <div class="headerItem">
            <a href="/contact">Contact us</a>
        </div>
        <div class="headerItem">
            <a href="/about">About us</a>
        </div>
    </div>
</div>