<div class="pageHeader">
    <div class="headerItem">
        <!-- TODO insert logo -->logo
    </div>
    <div class="headerItem">
        <a href="/">Home</a>
    </div>
    <div class="headerItem">
        <a href="/sports">Sports</a>
    </div>
    <div class="headerItem">
        <a href="/contact">Contact us</a>
    </div>
    <div class="headerItem">
        <a href="/about">About us</a>
    </div>
</div>