<!-- TODO replace with news images -->
<div id="slider">
    <figure>
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/191103105206-toiler-paper-roller-gun-trnd-exlarge-169.jpg" alt>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/taj-mahal_copy.jpg" alt>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ibiza.jpg" alt>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ankor-wat.jpg" alt>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/austin-fireworks.jpg" alt>
    </figure>
</div>