<div>Weather</div>
<div>Weather icon</div>
<div>Temperature</div>
<div>City Name</div>
<div>
  <input
    onchange="getLocation()"
    type="checkbox"
    id="allowLocationForWeather"
  />Allow your location for weather
</div>
<script type="text/javascript" src="/js/weather.js"></script>
