<script>

</script>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#myNavbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Module 7 Shopping Cart</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav">
                <button id="btnLogout" class="btn btn-danger m-2">Logout</button>
                <button id="btnAddUser" class="btn btn-light m-2">Add User</button>
                <button id="btnViewUsers" class="btn btn-light m-2">View Users</button>
                <button id="btnAddProduct" class="btn btn-light m-2">Add Product</button>
                <button id="btnViewProducts" class="btn btn-light m-2">View Products</button>
                <button id="btnViewCart" class="btn btn-light m-2">View Cart</button>
        </ul>
        </div>
    </div>
</nav>
<br><br><br>
      