<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>     
    </head>
    <body>
        <% include partials/menu %>
        <div class="container">
            <div class="jumbotron">
                Add User page!
            </div>
        </div>                   
    </body>
    <% include partials/script %>
</html>