<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>     
    </head>
    <body>
        <!-- TODO <%# include partials/menu %>
        <%# include partials/alert %> -->
        <div class="container">
            <h2>Login</h2>
            <form id="loginForm" action="/api/v1/auth/login" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
                </div>              
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                </div>
                <button type="submit" id="register" class="btn btn-primary" role="button">Login</button>
            </form>
        </div>
    </body>
</html>