<div class="container">
    <h4>Add News</h4>
    <form id="addNewsForm">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="url">Url:</label>
            <input type="text" class="form-control" id="url" name="url" required>
        </div>
        <div class="form-group">
            <label for="urlToImage">Url To Image:</label>
            <input type="text" class="form-control" id="urlToImage" name="urlToImage" required>
        </div>
        <div class="form-group">
            <label for="publishedAt">Published At:</label>
            <input type="date" class="form-control" id="publishedAt" name="publishedAt" required>
        </div>
        <div class="text-center">
            <button type="submit" id="btnAddNews" class="btn btn-info" role="button">Add</button>
            <button type="reset" id="btnReset" class="btn btn-warning" role="button">RESET</button>
        </div>                    
    </form>
</div>
<script type="text/javascript" src="/js/addNews.js"></script>