<button id="btnNewsForm" class="btn nav-link m-2" role="link">NewsForm</button>
<button id="btnEditNews" class="btn nav-link m-2" role="link">EditNews</button>
<button id="btnLogout" class="btn nav-link m-2" role="link">Logout</button>
