<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#myNavbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Update 24X7 Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav">
            <!-- TODO: boolean for logged in or out dictates menuitems -->
            <% if (!isLoggedIn) { %><% include menuItemsLoggedOut %> <% } %>
            <% if (isLoggedIn) { %> <% include menuItemsLoggedIn %> <% } %>
        </ul>
        </div>
    </div>
</nav>
<br><br><br>
      