<button id="btnNewsForm" class="btn btn-light m-2">NewsForm</button>
<button id="btnEditNews" class="btn btn-light m-2">EditNews</button>
<button id="btnLogout" class="btn btn-danger m-2">Logout</button>