<!DOCTYPE html>
<html lang="en">
    <head>
        <div><% include partials/head %></div>
    </head>
    <body>
        <div><% include partials/header %></div><hr>
        <div><% include partials/weather %></div><hr>
        <div><% include partials/imageGallery %></div><hr>
        <div><% include partials/news %></div><hr>
        <div>HomePage works! (story related to the news goes here if not adding another partial view)</div><hr>
        <div><% include partials/chat %></div><hr>
        <div><% include partials/footer %></div>
    </body>
</html>