<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div><% include partials/header %></div><hr>

            <div class="container"><% include partials/weather %></div><hr>
            <div class="imageGallery"><% include partials/imageGallery %></div><hr>
            <div class="container"><% include partials/news %></div><hr>
            <div class="container">HomePage works! (story related to the news goes here if not adding another partial view)</div><hr>
            <div class="chatArea">
                <% include partials/chat %>
            </div>
            <footer>
                <div><% include partials/footer %></div>
            </footer>

    </body>
</html>