<!DOCTYPE html>
<html lang="en">
    <head>
        <div><% include partials/head %></div>
    </head>
    <body>
        <div><% include partials/header %></div><hr>
        <div>sports works!</div>
        <div><% include partials/footer %></div>
    </body>
</html>