<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>
        <script async src="https://walls.io/js/wallsio-widget-1.2.js" data-wallurl="https://walls.io/c3r84?nobackground=1&amp;show_header=0" data-title="test" data-width="100%" data-autoheight="1" data-height="800" data-lazyload="1"></script>
        <footer>
            <div><% include partials/footer %></div>
        </footer>
    </body>
</html>