<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div><% include partials/header %></div><hr>
        <div>sports works!</div>
        <footer>
            <div><% include partials/footer %></div>
        </footer>
    </body>
</html>